.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}
h2{
    color: black;
    opacity: 0.7;
}
.login-box {
    width: 24rem;
    height: 25rem;
    background-color: transparent;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
}

svg {
    height: 1rem;
    margin-left: -1.5rem;
}

input {
    outline: none;
    border: 1px;
    border-radius: 10px;
    width: 18.5rem;
    height: 1.2rem;
    padding: 10px;
    padding-left: 15px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    margin-top: 1rem;
    background-color: #E4E6EB;
}


input:focus {
    outline: none;
    font-size: 12px;
    background-color: white;
}

.signup-link {
    text-align: center;
}

.signup-link a {
    text-decoration: none
}

button {
    width: 20rem;
    border-radius: 10px;
    border: 1px solid white;
    height: 2.5rem;
    background-color: #3A3B3C;
    color: #E4E6EB;
    margin-top: 2rem;
}

button:hover{
    background: silver;
    color: black;
    transition: 0.5s;
}