<div>
    <header>
        <div class="header-navbar">
            <div class="li-content">
                <a style="font-size: 25px;" href="/home">
                    Trang chủ
                </a>

                <a href="/profile">
                    Trang cá nhân
                </a>

                <a href="/upload">
                    Nội dung
                </a>

            </div>
            <div class="li-content2">
                <a href="/login">Đăng nhập</a>
                <a href="/register">Đăng Ký</a>
                <a href="/forgotpass">Đổi mật khẩu</a>
                <button (click)="logout()">Đăng xuất</button>
            </div>
        </div>
    </header>
</div>